includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    paths:
        - tests/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method BambooPaymentTests\\SharedData\::getDataOfDataUy\(\) with incorrect case: getDataOfDataUY#'
        - '#Method BambooPayment\\Service\\PurchaseService\::refund\(\) should return BambooPayment\\Entity\\Purchase but returns BambooPayment\\Entity\\BambooPaymentObject.#'
        - '#Method BambooPayment\\Service\\PurchaseService\::rollback\(\) should return BambooPayment\\Entity\\Purchase but returns BambooPayment\\Entity\\BambooPaymentObject.#'
        - '#Method BambooPayment\\Service\\PurchaseService\::commit\(\) should return BambooPayment\\Entity\\Purchase but returns BambooPayment\\Entity\\BambooPaymentObject.#'
        - '#Method BambooPayment\\Entity\\BambooPaymentObject\::getObjectClass\(\) should return \$this\(BambooPayment\\Entity\\BambooPaymentObject\) but returns BambooPayment\\Entity\\BambooPaymentObject.#'
        - '#Variable method call on Psr\\Http\\Client\\ClientInterface.#'